// Transparent mixins to provide more powerful
// shorthand to margin|padding|border-width properties.
// The magic value token `_` instructs the mixin
// to skip that value.
// Usage:
//     margin: _ 10px
// -->
//     margin-left: 10px
//     margin-right: 10px
margin() {
    __edgeProps('margin', arguments)
}
padding() {
    __edgeProps('padding', arguments)
}
border-width() {
    __edgeProps('border-width', arguments)
}
// Usage:
//     position: fixed _ 0
// -->
//     position: fixed
//     left: 0
//     right: 0
position($pos, $sides...) {
    if (!important in $sides) {
        // pass anything with !important streight through
        position: arguments
    }
    else if (typeof($pos)=='ident'  &&  $pos!=auto  &&  $pos!=_) {
        position: $pos
        if (length($sides)) {
            __edgeProps('', $sides)
        }
    }
    else {
        __edgeProps('', arguments)
    }
}
// Private use mixin used above
__edgeProps($type, $sides) {
    if (!important in $sides || ($type  &&  !(_ in $sides))) {
        {$type}: $sides
    } else {
        $type = $type ? $type+'-' : $type
        $top = $sides[0]
        $right = length($sides)>1 ? $sides[1] : $top
        $bottom = length($sides)>2 ? $sides[2] : $top
        $left = length($sides)>3 ? $sides[3] : $right

        {$type}top: $top   if $top != _
        {$type}bottom: $bottom   if $bottom != _
        {$type}left: $left   if $left != _
        {$type}right: $right   if $right != _
    }
}
